.main-sys {
  color: #f77;
}

.pos-sys {
  color: #ff3;
}

.acc-sys {
color: #aaf;
}

.wea-sys {
  color: #fff;

}

.right-panel {

	border: 1px solid black;
	margin: 0 auto;
}


.button-start {
	background: url(images/stop.png);


	text-align: center;
	font-size: 24px;
	font-weight: bold;
 cursor: pointer;
	text-shadow: 1px 1px 1px black;
 //margin: 20px 15px 0 15px;
display: block;
}

.button-stop {

	display: block;

	background: url(images/start.png);


	text-align: center;
	font-size: 24px;
	font-weight: bold;
 cursor: pointer;

//margin: 20px 15px 0 15px;


}

a.button-stop, a.button-start {
	  background-size: 100% 100%;
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 1px black;
	margin: 0 auto;

	margin-bottom: 15px;

	width: 121px;
	height: 121px;
	line-height: 121px;
}

a.button-stop:hover, a.button-start:hover {
	color: white;
	text-shadow: none;
}

a.button-stop:active, a.button-start:active {
	position: relative;
	top: 2px;
	left: 0;
}


.button-stop.disabled, .button-start.disabled {
	background-image: url(images/disabled.png) !important;
	background-size: 100% 100%;
  color: #555;
  text-shadow: none;

}

.button-stop.disabled:hover, .button-start.disabled:hover {
	cursor: default;
	color: #555;
}

.status-field {

  padding: 3px 7px;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);

	max-width: 310px;

  list-style: none;
	text-align:center;
	font-size: 30px;
  margin: 3px auto;

  position: relative;
	transition:0.25s linear all;


}

.status-field.measure {
	background: rgba(100,255,0,0.7);
	color: #222;
	 box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6),
	 							0 0 15px rgba(255,255,0,0.3);
}

.status-field.ready {
    background: rgba(80,80,250,0.75);
    color: #fff;
     box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6),
                                0 0 15px rgba(100,100,255,0.3);
}

.status-field.power {
	background: rgba(255,255,0,0.7);
	color: #222;
	 box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6),
	 							0 0 15px rgba(255,255,0,0.3);
}

.status-field.off {
	background: rgba(0,0,0,0.2);
	color: #eee;
	 box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
}

.status-group {

  padding: 0;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);

    max-width: 310px;

  list-style: none;
  text-align:center;

  margin: 3px auto;
  height: 40px;

  position: relative;
    transition:0.25s linear all;


}

.status-indicator {

    font-size: 12px; line-height: 30px;
    width: 33.2%;
    height: 40px;
    float:left;
    color: #555;
    font-size: 14px;
    line-height: 40px;

}

.status-indicator:first-child{
        border-radius: 5px 0 0 5px;
}
.status-indicator:last-child{
        border-radius: 0 5px 5px 0;
}

.status-indicator.red {
	background: rgba(255,0,0,0.8);
	color: #eee;
	box-shadow: inset 1px 1px 4px rgba(0,0,0,0.7),
	 							0 0 20px rgba(255,255,0,0.2);
}
.status-indicator.yellow {
	background: rgba(255,255,0,0.8);
	color: #222;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.7),
	 							0 0 15px rgba(255,255,0,0.3);
}

.status-indicator.blue {
    background: rgba(0,50,140,0.7);
    color: #eee;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6),
                                0 0 15px rgba(0,40,180,0.3);
}
.status-indicator.green {
    background: rgba(0,230,20,0.7);
    color: #eee;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6),
                                0 0 15px rgba(0,230,20,0.3);
}

.status-field.online {

  padding: 0;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);

  max-width: 310px;

  line-height: 30px;
  height: 30px;

  list-style: none;
  text-align:center;

  position: relative;
  transition:0.25s linear all;

}

.online .server:first-child {
    border-radius: 5px 0px 0px 5px;
}
.online .server:last-child {
    border-radius: 0px 5px 5px 0px;
}

.online .server {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
    font-size: 12px; line-height: 30px;
    width: 33.2%;
    height: 30px;
    float:left;
    color: #555;
}

.online .server.active {
    background: rgba(0,230,20,0.7);
    color: #eee;
    font-weight: bold;
}



// Анимашки
.button-stop {
  transition:0.25s linear all;
}
.button-start {
  transition:0.25s linear all;
}

.button-off {
  transition:0.25s linear all;
}
.button-on {
  transition:0.25s linear all;
}


// вкл и выкл
.button-on {
	background: url(images/off.png);
	width: 118px;
	height: 120px;
	line-height: 121px;
	text-align: center;


 cursor: pointer;
	text-shadow: 1px 1px 1px black;
 //margin: 20px 15px 0 15px;
display: block;
}

.button-off {

	display: block;

	background: url(images/off.png);
	width: 118px;
	height: 120px;
	line-height: 121px;
	text-align: center;


 cursor: pointer;

//margin: 20px 15px 0 15px;


}

a.button-on, a.button-off {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 1px black;
	margin: 0 auto;
	font-size: 30px;
		font-weight: bold;
	margin-bottom: 15px;

}

a.button-off:hover, a.button-on:hover {
	color: white;
	text-shadow: none;
}

a.button-off:active, a.button-on:active {
	position: relative;
	top: 2px;
	left: 0;
}


.button-off.disabled, .button-on.disabled {
	background: url(images/dis.png) !important;
  color: #777;
  text-shadow: none;

}

.button-off.disabled:hover, .button-on.disabled:hover {
	cursor: default;
	color: #777;
}

.mainError {
text-align: center;
	background: red;
	border-radius: 5px;
	color: white;
	font-size: 30px;
}

.alarmError {
text-align: center;
    background: yellow;
    border-radius: 5px;
    color: black;
    font-size: 30px;
    margin-bottom: 5px;
}