canvas {
  background: white;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 1em; }

.hide {
  display: none; }

.val {
  font-weight: bold;
  color: yellow; }

#tree-root ul {
  list-style: none; }

ul#tree-root {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.0em; }

#tree-root > li > ul > li > ul {
  list-style: none;
  font-size: 1em !important; }

#tree-root a {
  text-decoration: none !important; }

.open-tree {
  width: 1.0em;
  height: 1.0em;
  border: 1px solid #777;
  float: left;
  display: block;
  border-radius: 3px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  font-weight: bold;
  padding: 0;
  color: white;
  line-height: 1.0em;
  text-align: center;
  cursor: pointer; }

.collapsed {
  background: #05a;
  border-color: #fff; }

.open-tree + ul {
  display: block; }

.open-tree.collapsed + a + ul {
  display: none; }

.open-tree.collapsed + ul {
  display: none; }

.on-table > li {
  display: block !important;
  float: right;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100px; }

.table1 {
  position: relative;
  font-size: 1.2em; }

.table1 .item {
  float: left;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  margin: 5px;
  border-radius: 5px; }

.table1 .item > .nodeTitle {
  font-size: 1.5em; }

.table1 .clearAll {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 5px 3px;
  border: 1px solid black;
  border-radius: 3px;
  background: red;
  color: white;
  font-weight: bold;
  width: 20px;
  height: 20px;
  line-height: 20px; }

.pin, .clearAll {
  cursor: pointer; }

/*@font-face {
    font-family: "Scada";
    src: url("fonts/Scada-Regular.woff") format('woff');
}

@font-face {
    font-family: "Scada";
    src: url("fonts/Scada-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Scada";
    src: url("fonts/Scada-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Scada";
    src: url("fonts/Scada-Italic.woff") format('woff');
    font-style: italic;
}*/

.main-sys {
  color: #f77; }

.pos-sys {
  color: #ff3; }

.acc-sys {
  color: #aaf; }

.wea-sys {
  color: #fff; }

.right-panel {
  border: 1px solid black;
  margin: 0 auto; }

.button-start {
  background: url(images/stop.png);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
  display: block; }

.button-stop {
  display: block;
  background: url(images/start.png);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer; }

a.button-stop, a.button-start {
  background-size: 100% 100%;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 121px;
  height: 121px;
  line-height: 121px; }

a.button-stop:hover, a.button-start:hover {
  color: white;
  text-shadow: none; }

a.button-stop:active, a.button-start:active {
  position: relative;
  top: 2px;
  left: 0; }

.button-stop.disabled, .button-start.disabled {
  background-image: url(images/disabled.png) !important;
  background-size: 100% 100%;
  color: #555;
  text-shadow: none; }

.button-stop.disabled:hover, .button-start.disabled:hover {
  cursor: default;
  color: #555; }

.status-field {
  padding: 3px 7px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
  max-width: 310px;
  list-style: none;
  text-align: center;
  font-size: 30px;
  margin: 3px auto;
  position: relative;
  transition: 0.25s linear all; }

.status-field.measure {
  background: rgba(100, 255, 0, 0.7);
  color: #222;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6), 0 0 15px rgba(255, 255, 0, 0.3); }

.status-field.ready {
  background: rgba(80, 80, 250, 0.75);
  color: #fff;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6), 0 0 15px rgba(100, 100, 255, 0.3); }

.status-field.power {
  background: rgba(255, 255, 0, 0.7);
  color: #222;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6), 0 0 15px rgba(255, 255, 0, 0.3); }

.status-field.off {
  background: rgba(0, 0, 0, 0.2);
  color: #eee;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6); }

.status-group {
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
  max-width: 310px;
  list-style: none;
  text-align: center;
  margin: 3px auto;
  height: 40px;
  position: relative;
  transition: 0.25s linear all; }

.status-indicator {
  font-size: 12px;
  line-height: 30px;
  width: 33.2%;
  height: 40px;
  float: left;
  color: #555;
  font-size: 14px;
  line-height: 40px; }

.status-indicator:first-child {
  border-radius: 5px 0 0 5px; }

.status-indicator:last-child {
  border-radius: 0 5px 5px 0; }

.status-indicator.red {
  background: rgba(255, 0, 0, 0.8);
  color: #eee;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.7), 0 0 20px rgba(255, 255, 0, 0.2); }

.status-indicator.yellow {
  background: rgba(255, 255, 0, 0.8);
  color: #222;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7), 0 0 15px rgba(255, 255, 0, 0.3); }

.status-indicator.blue {
  background: rgba(0, 50, 140, 0.7);
  color: #eee;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6), 0 0 15px rgba(0, 40, 180, 0.3); }

.status-indicator.green {
  background: rgba(0, 230, 20, 0.7);
  color: #eee;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6), 0 0 15px rgba(0, 230, 20, 0.3); }

.status-field.online {
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
  max-width: 310px;
  line-height: 30px;
  height: 30px;
  list-style: none;
  text-align: center;
  position: relative;
  transition: 0.25s linear all; }

.online .server:first-child {
  border-radius: 5px 0px 0px 5px; }

.online .server:last-child {
  border-radius: 0px 5px 5px 0px; }

.online .server {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  line-height: 30px;
  width: 33.2%;
  height: 30px;
  float: left;
  color: #555; }

.online .server.active {
  background: rgba(0, 230, 20, 0.7);
  color: #eee;
  font-weight: bold; }

.button-stop {
  transition: 0.25s linear all; }

.button-start {
  transition: 0.25s linear all; }

.button-off {
  transition: 0.25s linear all; }

.button-on {
  transition: 0.25s linear all; }

.button-on {
  background: url(images/off.png);
  width: 118px;
  height: 120px;
  line-height: 121px;
  text-align: center;
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
  display: block; }

.button-off {
  display: block;
  background: url(images/off.png);
  width: 118px;
  height: 120px;
  line-height: 121px;
  text-align: center;
  cursor: pointer; }

a.button-on, a.button-off {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px; }

a.button-off:hover, a.button-on:hover {
  color: white;
  text-shadow: none; }

a.button-off:active, a.button-on:active {
  position: relative;
  top: 2px;
  left: 0; }

.button-off.disabled, .button-on.disabled {
  background: url(images/dis.png) !important;
  color: #777;
  text-shadow: none; }

.button-off.disabled:hover, .button-on.disabled:hover {
  cursor: default;
  color: #777; }

.mainError {
  text-align: center;
  background: red;
  border-radius: 5px;
  color: white;
  font-size: 30px; }

.alarmError {
  text-align: center;
  background: yellow;
  border-radius: 5px;
  color: black;
  font-size: 30px;
  margin-bottom: 5px; }


.module .title {
  font-size: 125%; }

.module .title .ident {
  color: #777;
  font-size: 100%; }

.module {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
  border-radius: 5px;
  margin-right: 5px; }

.module .value {
  font-size: 155%;
  font-weight: bold;
  color: yellow; }

.buttons {
  text-align: right;
  display: 'table-cell';
  vertical-align: center; }

body {
  background: #222;
  font-family: "Arial"; }

a {
  color: #99e;
  text-decoration: underline; }

a:hover {
  color: #ccf; }

.heading {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 1px #373a4d;
  position: relative;
  height: 100px; }

.copyright {
  text-align: center;
  color: #fff;
  padding-top: 32px;
  position: relative; }

.heading h1 {
  padding: 0;
  margin: 0;
  position: relative;
  top: 29px; }

.heading .version {
  font-size: 10px;
  display: block; }

.infotrans-logo {
  height: 100px;
  text-align: left;
  position: relative; }

.sbb-logo {
  height: 100px;
  text-align: right;
  position: relative; }

.infotrans-logo img {
  margin: 0;
  position: absolute;
  top: 25px;
  left: 15px;
  display: block;
  max-width: 193px;
  width: 100%; }

.tabs-left {
  border: none;
  padding-top: 0px; }

.tabs-left > li {
  float: none;
  margin-bottom: 1px;
  background: url("images/button.png");
  background-size: 100% 100%;
  height: 70px; }

.tabs-left > li {
  margin-right: 0px; }

.tabs-left > li.active {
  background: none; }

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus,
.tabs-left > li > a:hover,
.tabs-left > li > a:focus {
  background: rgba(255, 255, 255, 0.11);
  border: none;
  color: #fff; }

.tabs-left > li > a:hover,
.tabs-left > li > a:focus {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: black; }

.tabs-left > li > a {
  border: none;
  color: white;
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display: block;
  height: 100%;
  line-height: 50px;
  font-size: 1.75rem;
  padding-left: 52px; }

@media (max-width: 767px) {
  .tabs-left > li > a {
    font-size: 0; } }

.main-view {
  background: rgba(255, 255, 255, 0.11);
  min-height: 520px;
  padding-top: 12px;
  padding-left: 2rem;
  color: white;
  border-radius: 0px 5px 5px 5px;
  margin-left: -15px;
  margin-right: -15px; }

.icon {
  height: 32px;
  width: 32px;
  display: block;
  position: absolute;
  top: 18px;
  left: 10px;
  background-image: url("images/home.png");
  background-size: 100% 100%; }

.diag {
  background-image: url("images/diag.png"); }

.power {
  background-image: url("images/power.png"); }

.schedule {
  background-image: url("images/schedule.png"); }

.signals {
  background-image: url("images/trends.png"); }

.ups {
  background-image: url("images/ups.png"); }

.odo {
  background-image: url("images/odo.png"); }

.settings {
  background-image: url("images/settings.png"); }

.main-view h3 {
  font-size: 1.25em;
  margin: 0;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 2px; }

.main-view ul.diag {
  margin: 0 -7px;
  padding: 3px 7px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
  list-style: none;
  margin-bottom: 11px; }

.main-view ul.diag li {
  list-style: none; }

.main-view ul.diag li .right {
  float: right;
  font-weight: bold; }

.state-on {
  color: #0f0; }

.state-off {
  color: #77d; }

.state-error {
  color: #f00; }

.state-na {
  color: #444 !important; }

.ajax-loading {
  height: 32px;
  width: 32px;
  margin: 0 auto;
  float: left;
  position: absolute;
  left: -40px;
  top: 1px; }

.ajax-loading img {
  width: 100%; }
